:root {
    --main-color:  #21aff3;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color:  #f6f6f6;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 290px 600px 88px;
    ;
    
    gap: 3px;
    justify-content: center;
  }

  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
  
  /* Start header */  
.logo img {
    padding-top: 10px;
    width: 50px;
}
nav .links {
    padding-top: 35px;
   
    display: grid;
    gap: 40px;
    justify-content:center;
    width: 50px;
}
nav .links i {
    font-size: 30px;
    color: var(--main-color);
}
header  .img img {
    margin-top: 35px;
    width: 50px;
    border-radius: 35px;
}
header {
    background-color:  white;
    padding: 0 0 0 10px;
}

  

  /* End header */   
  /* Start section */
  section {
    background-color:  white;
    padding: 0 17px 0 
    

  
  }
  aside {
    background-color:  white;
  }
  section .page {
    
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      background-color: white;
      margin-bottom: -27px;
      padding-bottom: 15px;
  }
  section .page .home {
    
    font-weight: 900;
  }
  section .page  .icons i {
      color:var(--main-color);
     font-size: 20px;
    
    
  }
  section .page  .icons #plus1 {
      color: var(--main-color);
      font-size: 9px;
      position: relative;
      right: 37px;
      bottom: 15px;

  }
  section .page  .icons #plus2 {
      color: var(--main-color);
      font-size: 9px;
      position: relative;
      right: 47px;
      top: 6px;
  }
  .allpage .pageh {
    margin-top: 29px;
      background-color: white;
    padding-top: 30px;
      display: flex;
      flex-direction: row-reverse;

  }
  .allpage .pageh img {
      
      width: 50px;
      border-radius: 35px;
}
.allpage .pageh p {
position: relative;
    top: 23px;
    right: 15px;
    font-size: 22px;
    color: #000000a1;
}
  .page1 {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: white;
    padding-top: 31px;
    padding-bottom: 10px;
  }
  .page1 .icons1 {
      
      display: grid;
      display: flex;
      gap: 15px;
      align-items: center;
      flex-direction: row-reverse;
      position: relative;
      left: 54px;
  }
  .page1 .icons1 i {
      color: var(--main-color);
      font-size: 25px;
    
  }
    
  
.page1 .icons1 img {
      width: 25px;
  }
  .page1 .icons1 h3 {
      color: var(--main-color);
      border: 2px solid var(--main-color);
      width: 31px;
      font-size: 12px;
      text-align: center;
      border-radius: 4px;
      padding: 1px 3px;
  }
  .page1 .info h4 {
    color: white;
    background-color: var(--main-color);
    padding: 11px 29px;
    font-size: 20px;
    border-radius: 26px;
    position: relative;
    right: 79px;
  }
  section .allpage {
    background-color:  #f6f6f6;

  }
  .page2 {
    background-color: white;
    margin-top: 17px;

    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .page2 .logo img {
    width: 50px;
    border-radius: 35px;
    position: relative;
    bottom: 34px;


  }
  .page2 .info .m {
      width: 500px;
      height: 284px;
      border-radius: 10px;
   
}
  
  .page2 .info h3 {
    position: relative;
    left: 394px;
    bottom: 24px;
}
.page2 .info .c {
    position: relative;
    left: 304px;
    bottom: 41px;
    font-size: 14px;
}
.page2 .info .p {
    position: relative;
    left: 289px;
    bottom: 31px;
    font-size: 17px;
    font-weight: 600;

}
.page2 .info .icons {
    display: grid;
    display: flex;
    flex-direction: row-reverse;
    gap: 72px;
    padding-top: 10px;
}
.page2 .info .icons img {
    width: 37px;
    position: relative;
    bottom: 5px;

}
.page2 .icons #comannd {
    color: #00000054;
}
.page2 .icons #load {
    color: #00000054;
}
.page2 .icons #heart {
    color: #e20202;
}
 .page2 .icons i {
    font-size: 25px;
   

}
.page2 .icons .span {
    position: relative;
    top: 10px;
   
}
 .page2 .icons .span .a {

    background-color: #00000054;
} 
  .page2 .icons .span .b {
    background-color: #00000054;
    padding-top: 9px;

} 
.page2 .icons .span .d {
    background-color: #00000054;
    padding-top: 4px;

} 
.page2 .like {
    position: relative;
    left: 245px;
    bottom: 50px;
}
.page2 .ret {
    position: relative;
    left: 344px;
    bottom: 32px;

}




  /* End section */
  /* aside start */
  aside {
    background-color: white;
    width: 289px;
    }
    aside .pagea {
        width: 274px;
    }
    aside .pagea .search input {
        width: 272px;
      height: 42.16px;
      border-radius: 25px;
      border-color: var(--main-color);
      margin-top: 10px;
      background-color:  #f6f6f6;
    
    }
    aside .pagea .search i {
        color: #000000a1;
    position: relative;
    left: 237px;
    bottom: 27px;
    }
    aside .pagea .info {
        display: grid;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color:  #f6f6f6;
        padding-top: 10px;
        border-radius: 10px;

    }
     aside .pagea .info i {
         color: var(--main-color);
     }
     aside .pagea .info h3 {
        font-family: 'Markazi Text', serif;
        padding-left: 70px;
        font-weight: bold;

     }
     aside .pagea .mo {
        background-color:  #f6f6f6;
        padding-top: 10px;
        border-radius: 10px;

     }
     aside .pagea .mo .p {
        padding-top: 10px;
     position: relative;
    left: 160px;
     }
     aside .pagea .mo p {
        padding-top: 10px;
        position: relative;
        left: 151px;

     }
     aside .pagea .mo h3 {
        padding-top: 12px;
        position: relative;
        left: 167px;
        color: var(--main-color);
    }
    aside .pagea .mo h4 {
        position: relative;
        left: 16px;
        bottom: 80px;
        font-size: 25px;
        color: var(--main-color);
    }
    aside .pagea .mo h2 {
        font-size: 15px;
        position: relative;
        left: 15px;
        bottom: 77px;
    }
    aside .pagea .flo {
       
        background-color: #f6f6f6;
        margin-top: 20px;
        padding-top: 10px;
        border-radius: 10px;
        

    }
    aside .pagea .flo  .ONE img{
        width: 50px;
        border-radius: 35px;
        position: relative;
        left: 206px;
        top: 19px;
}
    
    aside .pagea .flo  h2 {
        
        
        background-color:  #f6f6f6;
        position: relative;
         left: 116px;
         width: 158px;
      

    }
    aside .pagea .ONE .hj {
        position: relative;
        right: 71px;
        font-size: 16px;
        bottom: 28px;
        width: 97px;
        
    }
    aside .pagea .ONE p {
        font-size: 12px;
        position: relative;
        right: -137px;
        bottom: 20px;
    }
    aside .pagea .flo h3 {   
    color: var(--main-color);
    padding: 2px;
    border: 2px solid var(--main-color);
    width: 63px;
    position: relative;
    left: 10px;
    border-radius: 97px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    bottom: 52px;
    }
    aside .pagea .one2 {
        margin-top: 1px;
        background-color:  #f6f6f6;
        border-radius: 10px;

    }
    aside .pagea .one2 img {
        width: 50px;
        border-radius: 35px;
        position: relative;
        left: 206px;
        top: 19px;

    }
    aside .pagea .one2 h2 {
        position: relative;
    right: -161px;
    font-size: 16px;
    bottom: 28px;
    width: 97px;

    }
    aside .pagea .one2 p {
        font-size: 12px;
        position: relative;
        right: -157px;
        bottom: 20px;
    }
    aside .pagea .one2 #h3 {
        color: var(--main-color);
    padding: 2px;
    border: 2px solid var(--main-color);
    width: 63px;
    position: relative;
    left: 10px;
    border-radius: 97px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    bottom: 52px;
}
aside .pagea .one3 {
    margin-top: 1px;
    background-color:  #f6f6f6;
    border-radius: 10px;

}
aside .pagea .one3 img {
    width: 50px;
    border-radius: 35px;
    position: relative;
    left: 206px;
    top: 19px;
}
aside .pagea .one3 h2 {
    position: relative;
    right: -79px;
    font-size: 16px;
    bottom: 28px;
    width: 136px;

}
aside .pagea .one3 p {
    font-size: 12px;
    position: relative;
    right: -104px;
    bottom: 20px;
}
aside .pagea .one3 .h3 {
    color: var(--main-color);
    padding: 2px;
    border: 2px solid var(--main-color);
    width: 63px;
    position: relative;
    left: 10px;
    border-radius: 97px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    bottom: 52px;
}
    


     

  
